<div id="detailContainer">
<h1>Welcome to {{detailData.name}}</h1>

<div id="detailImage">
<img src="/images/{{detailData.image}}" alt="resort image">
</div>

<div id="detailText">
<p class="nameResort"> {{detailData.name}}</p>
<h4>Price: {{detailData.price}}</h4>
<p>Address: {{detailData.address}}</p>
<p>Description: {{detailData.description}}</p>
</div>
</div>